.nav {
    list-style: none;
    text-align: center;
    background-color: #EC91D8;
    padding: 20px 0;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    border-bottom: 2px solid #FFAAEA;
}

.nav li {
    display: inline;
    margin: 10px;
    color: #735649; 
    font-size:20px
}

.nav li a:hover {
    color: #611e53;
    transition: color 0.3s ease;
}

h1 {
    font-size: 30px;
    float:left;
    
}

.grid-container {
    display: grid; 
    grid-gap: 10px;
    grid-template-columns: 50% auto auto auto;
}

.grid-item{
    background-color:mistyrose; 
    padding: 10px;
    text-align:center;
    grid-row:3 / span 10; 
}

.main-1{
    grid-row: 1;
    grid-column: 2 / span 3;
}

.main-2{
    grid-row: 1;
    grid-column: 3 / span 3;; 
}

.support-1{
    grid-row: 4;
    grid-column: 1; 
}

.support-2{
    grid-row: 4;
    grid-column: 2/ span 2;
}

.main-img{
    grid-row: 1;
    grid-column: 1;
}

img{
    float:left;
    width: 100px;
    height: 100px;
    z-index: 2;
    position: absolute;
}

body{
    font-family: "Edu NSW ACT Cursive", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}